@font-face {
  font-family: 'Mabinogi Classic';
  src: url('./types/Mabinogi_Classic_OTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Mabinogi Classic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
